<table _ngcontent-cqu-c182="" aria-describedby="#" class="table gpstab-table" style="max-height: 310px;">
  <thead _ngcontent-cqu-c182="">
  <tr _ngcontent-cqu-c182="">
    <th _ngcontent-cqu-c182="">File</th>
    <th _ngcontent-cqu-c182="" class="small-column">View</th>
    <th _ngcontent-cqu-c182="" class="small-column">Download</th>
  </tr>
  </thead>
  <tbody _ngcontent-cqu-c182="">
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:35:21 PM <b _ngcontent-cqu-c182="">Front camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:33:20 PM <b _ngcontent-cqu-c182="">Front camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:31:19 PM <b _ngcontent-cqu-c182="">Front camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:29:18 PM <b _ngcontent-cqu-c182="">Front camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:27:17 PM <b _ngcontent-cqu-c182="">Front camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:35:18 PM <b _ngcontent-cqu-c182="">Rear camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:33:18 PM <b _ngcontent-cqu-c182="">Rear camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:31:17 PM <b _ngcontent-cqu-c182="">Rear camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:29:17 PM <b _ngcontent-cqu-c182="">Rear camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr>
  <tr _ngcontent-cqu-c182="" class="ng-star-inserted" style="">
    <td _ngcontent-cqu-c182=""> 10/22/2023 3:27:17 PM <b _ngcontent-cqu-c182="">Rear camera</b></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">View</a></td>
    <td _ngcontent-cqu-c182="" class="small-column"><a _ngcontent-cqu-c182="" href="" class="link">Download</a></td>
  </tr><!----><!----><!----></tbody>
</table>
