

<ng-select [items]="cars"
           bindLabel="name"
           bindValue="id"
           [(ngModel)]="selectedCar">
</ng-select>
  <div class="panel-wrapper">
    <app-panel [isOverflowVisible]="true">
      <ng-container headerActions>
        <ng-select [items]="cars"
                   bindLabel="name"
                   bindValue="id"
                   [(ngModel)]="selectedCar">
        </ng-select>
      </ng-container>

      <app-table></app-table>
    </app-panel>
  </div>
<p>texttexttexttexttexttexttexttexttexttext</p>
